.space-between {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  border: 1px solid red;
}

.add-product-name,
.add-product-description {
  width: max(45%, 300px);
}

.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price select,
.add-category-price input {
  max-width: 150px;
  padding: 10px;
}
.add-btn {
  max-width: 120px;
  border: none;
  background: #000;
  color: white;
}
